<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Server=.;Database=AssetsManagement;User Id=am_user;Password=Pa$$W0Rd;"/>
  </appSettings>
</configuration>